@import '../CssAssets/base.scss';

.newForm{
    max-width:$max-width;
    padding:$base-padding;

    .newFormInput{
        margin:0.75rem 0;
    }

    .fileUploadLabel{
        display:flex;
        flex-direction: column;
    
        .defaultFileUploader{
          display:none;
        }
    
        .attachmentIconSpan {
          padding:0.5rem 0;
          display:flex;
          flex-direction: column;
          align-items:flex-start;
          font-weight: $semi-bold;

          .attachmentIcon{
            font-size:$icon-size;
            padding:0.5rem 0;
        }
    
          .selectedFile{
            font-weight: $thin-font;
          }
        }
    
        .fileCustom:hover{
          cursor: pointer;
        }
    
    }
}